.landing__search {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}

.handymanSearch__header{
    font-size: 3em;
    font-weight: 400;
}