.landing__search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    margin-top: 10%;
    border: 1px solid #e9eced;
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: 0 10px 10px #cccccc;
}

.handymanSearch__header{
    font-size: 3em;
    font-weight: 400;
}