.App {
    padding-top: 100px;
    background-color: #ffffff;
    min-height: 100vh;
    background-image: url("./2549.jpg");
    background-position: center;
    background-repeat: repeat-y;
}

/* .App::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
} */

.app__main {
    border-radius: 10px;
    max-width: 1200px;
    margin: auto;
    padding: 0px 20px;
}

.red {
    color: red;
}

.app__header {
    border-bottom: 1px solid #e9e9e9;
    background-color: #fffffe;
    box-shadow: 0 2px 5px #cecece;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.btn__close {
    background-color: red;
    color: #fdfdfd;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    font-family: 'noto-sans';
    font-size: 1.2em;
    margin: auto 5px;
}

.modal__error {
    display: flex;
}

@media only screen and (min-width: 600px) {
    .App {
        background-size: cover;
    }
}

/*styles that need to be simplified to one shared classname*/

.signup__form, .login__form, .handyman__page, .profile__form, .quote__item, .handyman__list {
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid #e9eced;
    box-shadow: 0 10px 10px #c4c4c4;
    margin: 10px 10px 40px;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.form__textInput, .login__inputText, .quote__inputs, .review__textArea {
    width: 100%;
    border-radius: 5px;
    border: 1.5px solid #ddd;
    margin: 5px 0px;
    padding: 5px;
    line-height: 1.4em;
}

.signup__button, .login__button, .review__button, .profile__button {
    width: 200px;
    padding: 10px;
    border-radius: 30px;
    border: none;
    background-color: #009fd9;
    color: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.38);
    align-self: center;
    margin: 20px 0px;
}

.signup__page, .login__page, .handyman__page, .profile__page {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6em;
}