.signup, .login__form, .handyman__page {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #e9eced;
    box-shadow: 0 5px 10px #e9eced;
    margin: 10px 10px 40px 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.signup label {
    display: block
}

.signup__textInput, .login__inputText, .quote__inputs, .review__testArea {
    width: 100%;
    /* font-size: 1.2em; */
    border-radius: 5px;
    border: 1px solid #ddd;
    margin: 5px 0px;
    padding: 5px;
}

.handyman__services label {
    margin: 10px 0px;
}

.signup__button, .login__button, .review__button {
    width: 160px;
    padding: 10px;
    border-radius: 30px;
    border: none;
    background-color: #009fd9;
    color: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.38);
    align-self: center;
    margin: 20px 0px;
}