.header__icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.headerIcon__mobile {
    padding: 1em;
    display: flex;
    flex-direction: row;
}

.nav__logged-in {
    display: flex;
    justify-content: space-between;
}

.header__links {
    font-size: 1.8em;
    padding: 15px 12px;
}

.header__links:visited {
    color:inherit;
}

.signout {
    align-self: center;
}

.menu__toggle {
    width: 20px;
    height: 20px;
    margin: auto 10px;
}

.nav__not-loggin-in {
    display: flex;
    flex-direction: column;
    display: none;
}

.nav-show {
    display: flex;
    position: absolute;
    top: 70px;
    width: 100vh;
    height: 100vh;
    background: white;
}

.arrow-hide {
    display: none;
}

.links__loggedIn {
    align-self: center;
}