.form__handyman {
    display: grid;
    grid-template-areas: 
    "select select"
    "input button";
    width: 100%;
}

.landingForm__item {
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.3em;
    color: #676d73;
    border: none;
}

.landingForm__button {
    grid-area: button;
    width: 100%;
    color: white;
    border: none;
    background-color: #009fd9;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1)
}

.landing__select {
    grid-area: select;
    margin-bottom: 10px;
}

.landing__zip {
    grid-area: input;
    border-radius: 5px;
}

.landing__select, .landing__zip {
    border: 1px solid #e9eced;
    box-shadow: 0 2px 4px #e9eced;
}

.input__zipcode{
    width: 100%;
}