.link__handyman {
    margin: 20px 0px;
    padding: 10px 0px;
    display: grid;
    grid-template-areas: "linkImg linkInfo";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    border-bottom: 1px solid #e9e9e9;
    letter-spacing: 0.05em;
}

.handyman__icon {
    width: 50px;
    grid-area: linkImg;
    margin: auto;
}

.handyman__linkInfo {
    grid-area: linkInfo;
}