*, html * {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Noto Sans TC', 'sans-serif';
  font-size: 10px;
  color: #2f3033;
  background-color: #FDFFFC;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fjalla One', 'sans-serif';
}

a {
  text-decoration: none;
  color: #2f3033;
}

a, button {
  cursor: pointer;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

@media only screen and (min-width: 600px) {
  body {
    font-size: 16px;
  }
}